.error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin-top: 70px;

  &__errorNumber {
    margin: 33px;
    width: 300px;
    height: 130px;

    @include media-query(small) {
      margin: 33px;
      width: 300px;
      height: 130px;}
  

    @include media-query(medium) {
      margin: 22px;
      width: 350px;
      height: 170px;}

    @include media-query(large) {
      width: 400px;
      height: 200px;}
    }

    &__Text {
    font-size: 18px;
    margin-bottom: 133px;
    width: 260px;
    height: 52px;
    text-align: center;
    color: $color-1;

    @include media-query(medium) {
      width: 100%;
      text-align: center;
      font-size: 24px;
      color: $color-1;
      margin-bottom: 135px;
    }

    @include media-query(large) {
    width: 100%;
    text-align: center;
    font-size: 36px;
    color: $color-1;
    margin-bottom: 142px;
    }

  }
  &__BackLink {
    font-size: 16px;
    margin: 42px;
    text-decoration: underline;
    color: $color-1;
    font-weight: bold;

    @include media-query(medium) {
      font-size: 18px;
      color: $color-1;
      margin: 42px;
      text-decoration: underline;
    }
    @include media-query(large) {
      font-size: 20px;
      color: $color-1;
      margin: 42px;
      text-decoration: underline;
    }
  }
}